---
import Base from '../layouts/Base.astro';
---

<Base title="404 - Sayfa Bulunamadı" description="Aradığınız sayfa bulunamadı.">
  <div class="i-center-page">
    <div class="i-center-padded">
      <div class="i-mt-4">
        <img src="/img/404-cookie-monster.png" alt="404 Cookie Monster" class="i-img-200" />
      </div>
      <h1 class="i-404-title">404 — Sayfa Bulunamadı</h1>
      <p class="i-404-text">
        404 canavarı bu sayfayı yemiş!..<br />
        Burada kalmaya devam edersen seni de yiyebilir.<br />
        Belki de yemez... Ama belki de yer...<br />
        Ortalık daha fazla kararmadan <a href="/" class="link">eve dön</a> istersen... :)
      </p>
      <div class="i-mt-4">
        <img src="/img/404-machine.webp" alt="The Machine's First Glitch" class="i-img-full-500" />
      </div>
      <div class="i-mt-6">
        <a href="/" class="i-btn-link">
          İçindekiler
        </a>
      </div>
    </div>
  </div>
</Base>
